<!DOCTYPE html>
<html>
<head>
    <title>Online Store</title>
    <%= stylesheet_link_tag "application", media: "all",
                            "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
<div id="banner">
    <%= image_tag("logo.jpg") %>
    <%= @page_title || "Online Store" %>
</div>
<div id="columns">
    <div id="side">
        <div id="cart">
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
            <% end %>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <% if session[:user_id] != nil %>
            <ul>
                <li><%= link_to 'Orders', orders_path %></li>
                <li><%= link_to 'Products', products_path %></li>
                <li><%= link_to 'Users', users_path %></li>
            </ul>
            <%= button_to 'Logout', logout_path, method: :delete %>
        <% else %>
            <%= button_to 'Admin Login', login_path %>
        <% end %>

    </div>
    <div id="main">
        <%= yield %>
    </div>
</div>
</body>
</html>